# Archivos de Trading (CSVs)
*.csv

# Reportes Generados
*.html

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.lib/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/
python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Entornos Virtuales
.venv
venv/
ENV/
env/
.env

# IDEs
.vscode/
.idea/
.DS_Store
